.body {
    background-color: saddlebrown;
}

.canvas {
    position: inherit;

    margin-left: 25%; /*?*/
    margin-bottom: 5%; /*?*/

    background-color: yellow;
    border: 1px solid whitesmoke;

    cursor: crosshair;
}

.p{
    text-align: center;
    color: blanchedalmond;
    font-size: 30px;
}

.button {
    background-color: #4CAF50; /* Green */
    color: white;

    padding: 16px 32px;

    font-size: 18px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.3s;
    cursor: pointer;
}
.button1 {
    margin-top: 20px;

    background-color: white;
    color: black;
    border: 2px solid #ffd200;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}

#page{
    margin: auto; /*?*/
    width: 50%; /*?*/
    text-align: inherit; /*?*/

    border: solid 1px #ffd200;  /* для отображения границ полезно! */
    min-height: 700px; /*?*/
}